.card{
    color:#fff;
}
.title{
    padding:10px 15px;
}
.card_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    /* flex-wrap: wrap;
    flex-direction: row; */
}
.tit{
    position:relative;
    padding:20px;
    /* top: 50px; */
    margin-right: 20px;
}
.card_posters::-webkit-scrollbar{
    display: none;
}
.card_poster{
    max-height: 100px;
    margin-right: 10px;
    object-fit: contain;
    width: 100%;
    border-radius:5px;
    transition: transform 450ms;
    cursor: pointer;
}
.card_poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.card_posterlarge{
    max-height: 250px;
}
.card_posterlarge:hover{
    opacity: 1;
    transform: scale(1.09);
}