.nav_content{
    display: flex;
    justify-content: space-between;
}
.nav_logo{
    position: fixed;
    left: 0;
    top:10px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 20px;
}
.nav_avator{
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    z-index: 10;
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_background{
    background: #111;
}